[submodule "verilog/rtl/rggen-verilog-rtl"]
	path = verilog/rtl/rggen-verilog-rtl
	url = git@github.com:rggen/rggen-verilog-rtl.git
[submodule "verilog/rtl/LDPC_ENC_DEC"]
	path = verilog/rtl/LDPC_ENC_DEC
	url = git@repositories.efabless.com:manishmahajan/LDPC_ENC_DEC.git
[submodule "verilog/rtl/mangleLDPCo"]
	path = verilog/rtl/mangleLDPCo
	url = git+ssh://git@github.com/manish03/mangleLDPCo.git
[submodule "sky130_sram_macros"]
	path = sky130_sram_macros
	url = https://github.com/VLSIDA/sky130_sram_macros.git
